@import url(reset.css);

* {
    color: grey;
}

P {
    color: aqua;
}

#text-1-id,
#text-2-id,
#text-3-id,
[class*=ark] {
    color: bisque;
}

h1 {
    color: blue;
}

.container_2>.title,
.list_1.list a {
    color: orange;
}

#text-1-id+h4 {
    color: yellowgreen;
}

#text-2-id~.text {
    color: blue;
}

.title_4 {
    color: red
}

.title#title-2-id,
.text.blok a {
    color: rgb(0, 255, 68);
}

.text>span {
    color: yellow;
}

span.goto {
    color: violet;
}