/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "ProximaNova";
	background-color: #f8f8f8;
	color: #2b2929;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

.header {
	background-color: #ffffff;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header>*:not(:last-child) {
	margin-bottom: 10px;
}

.footer,
.header__title {
	font-size: 48px;
	font-family: "ProximaNova";
	font-weight: 600;
	text-align: center;
	padding-top: 10px;
}

.header__menu,
.popular,
.header__elements {
	max-width: 1320px;
	margin: 0 auto;
}

.header__elements {
	padding: 30px 0px;
}

.header__menu {
	position: relative;
}

.header__logo-main {
	vertical-align: middle;
}

.header__elements>*:not(:last-child) {
	margin-right: 34px;
}

.header__catalog {
	display: inline-block;
	background-color: #ffbc57;
	min-width: 145px;
	height: 46px;
	padding: 11px 0px;
	border-radius: 8px 8px 8px 8px;
}

.header__catalog:hover {
	background-color: #e6a13a;
}

.header__catalog:active {
	background-color: #efc78c;
}

.header__link {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 19px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 1.26;
	padding-left: 54px;
	padding-right: 20px;
}

.header__link::before {
	content: "";
	position: absolute;
	left: 20px;
	top: 0px;
	background: url(/img/icons/menu-catalog.svg) 0 0 / 100% no-repeat;
	width: 24px;
	height: 24px;
}

.header__link:hover::before {
	background: url(/img/icons/close-catalog.svg) 0 0 / 100% no-repeat;
}

.popular {
	padding-top: 40px;
}

.popular>*:not(:last-child) {
	margin-bottom: 40px;
}

.menu {
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 616px;
	max-width: 300px;
	border-radius: 8px 0px 0px 8px;
	display: none;
}

.menu:target {
	display: block;
}

.menu__list {
	background-color: #ffffff;
	width: 100%;
	max-width: 300px;
	height: auto;
	padding: 8px 0px;
	border-radius: 8px 0px 0px 8px;
}

.menu__link {
	width: 100%;
	max-width: 300px;
	height: auto;
	min-height: 28px;
	position: relative;
	padding: 16px 0px;
	padding-left: 85px;
	color: #2b2929;
	font-size: 20px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 1.40;
	border-right: 5px solid #ffbc57;
}

.menu__item:hover .menu__link {
	background-color: #ffbc57;
}

.menu__item:hover .sub-menu {
	display: block;
}

.menu__link::before {
	content: "";
	position: absolute;
	left: 30px;
	top: 10px;
	width: 40px;
	height: 40px;
}

.menu__link--img-01::before {
	background: url(/img/menu-products/img-01.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-02::before {
	background: url(/img/menu-products/img-02.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-03::before {
	background: url(/img/menu-products/img-03.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-04::before {
	background: url(/img/menu-products/img-04.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-05::before {
	background: url(/img/menu-products/img-05.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-06::before {
	background: url(/img/menu-products/img-06.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-07::before {
	background: url(/img/menu-products/img-07.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-08::before {
	background: url(/img/menu-products/img-08.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-09::before {
	background: url(/img/menu-products/img-09.svg) 0 0 / 100% no-repeat;
}

.menu__link--img-10::before {
	background: url(/img/menu-products/img-10.svg) 0 0 / 100% no-repeat;
}

.menu__link::after {
	content: "";
	position: absolute;
	right: 15px;
	top: 18px;
	background: url(/img/menu-products/vector.svg) 0 4px / auto no-repeat;
	width: 24px;
	height: 24px;
}

.menu__link:hover::after {
	background: url(/img/menu-products/arrow.svg) -7px 0 / 100% no-repeat;
}

.sub-menu {
	background-color: #ffffff;
	width: 100%;
	height: 616px;
	max-width: 323px;
	border-radius: 0px 8px 8px 0px;
	position: absolute;
	left: 300px;
	top: 0px;
	display: none;
}

.sub-menu__list {
	background-color: #ffffff;
	width: 100%;
	height: 616px;
	max-width: 323px;
	border-radius: 0px 8px 8px 0px;
	padding-top: 20px;
}

.sub-menu__link {
	width: 100%;
	color: #2b2929;
	font-size: 19px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 2.10;
	margin-bottom: 10px;
	padding-left: 20px;
}

.sub-menu__link:hover {
	background-color: #ffbc57;
}

.title-block__link {
	color: #2b2929;
	font-size: 40px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 1.20;
}

.popular__list>*:not(:last-child) {
	margin-bottom: 24px;
	margin-right: 10px;
}

.popular__product {
	max-width: 250px;
	position: relative;
	display: inline-block;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.142);
	background: url(/img/products/Frame_1.png) 0px bottom / 100% no-repeat #ffffff;
}

.popular__product:hover {
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.548);
	opacity: 0.9;
}

.popular__name {
	color: #2b2929;
	font-size: 20px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 1.40;
	position: absolute;
	left: 20px;
	top: 20px;
}

.popular__number {
	color: #b1b1b1;
	font-size: 20px;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	line-height: 1.40;
	position: absolute;
	right: 20px;
	top: 20px;
}

.popular__link-icon {
	position: absolute;
	right: 20px;
	bottom: 20px;
}